---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m0s
  timeout: 10m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      reconcileStrategy: ChartVersion
  targetNamespace: traefik
  install:
    createNamespace: true
    timeout: 10m0s
    remediation:
      retries: 3
  upgrade:
    timeout: 10m0s
    remediation:
      retries: 3
  values:
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dashboard.localhost`)
        entryPoints:
          - web
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
