---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      reconcileStrategy: ChartVersion
  targetNamespace: traefik
  install:
    createNamespace: true
  upgrade:
    remediation:
      retries: 3

